<div class = "suggestion_box1">
  <div class = "ex3">
    <b class= "titles"> Movies </b>
    <h3 class ="heading3"> Click to see the plot!</h3>
      <hr>
      <% @movies.each do |m| %>
      <div  id=<%= m.id %> >
        <div value=<%= m.id %> class = "movie_name"> <%= m.name %> </div> 
        <br />
      </div>
       <hr>
         <br />
      <% end %>
  </div>
</div>

<div class = "suggestion_box2">
  <div class = "ex3">
    <b class= "titles"> Shows </b>
        <h3 class ="heading2"> Click to see the plot!</h3>
    <hr>
    <% @shows.each do |s| %>
    <div  id=<%= s.id %> >
        <div value=<%= s.id %> class = "show_name"> <%= s.name %> </div> 
      <br />
      </div>
       <hr>
         <br />
      <% end %>
  </div>
</div>

<div class = "suggestion_box3">
  <div class = "ex3">
    <b class= "titles"> Games </b>
    <hr>
    <% @games.each do |g| %>
      <%= g.name %>
      <hr>
        <br />
    <% end %>
  </div>
</div>


<div class = "suggestion_box4">
  <div class = "ex3">
    <b class= "titles"> Books </b>
    <hr>
    <% @books.each do |b| %>
      <%= b.name %> 
     <hr>
      <br />
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'movies' %>
